//====================================================================================================
.footer {
  // .footer__container

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: rem(20);
    @include adaptiveValue("padding-top", 88, 20);
    @include adaptiveValue("padding-botton", 88, 20);
  }

  // .footer__social

  &__social {
  }

  // .footer__copy

  &__copy {
    color: $greyColor;
    font-size: rem(14);
    line-height: math.div(17, 14);
  }
}
.social {
  // .social__link

  &__link {
    font-size: rem(22);
    transition: color 0.3s ease 0s;
    color: $greyColor;
    @media (max-width: $mobile) {
      font-size: rem(32);
    }

    @media (any-hover: hover) {
      &:hover {
        color: $purpleColor;
      }
    }
  }
}

//====================================================================================================
